<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Propriétés - Nono Rent</title>
    <script type="module" src="/static/dist/components/NonoBase.js"></script>
    <script type="module" src="/static/dist/components/NonoButton.js"></script>
    <script type="module" src="/static/dist/components/NonoInput.js"></script>
    <script type="module" src="/static/dist/components/NonoForm.js"></script>
    <script type="module" src="/static/dist/components/NonoTable.js"></script>
    <script type="module" src="/static/dist/components/NonoSelect.js"></script>
    <script type="module" src="/static/dist/components/NonoTextarea.js"></script>
    <script type="module" src="/static/dist/components/NonoCheckbox.js"></script>
</head>
<body>
    <h1>Liste des Propriétés</h1>
    <nono-table id="properties-table" headers='{{ headers|tojson }}' data='{{ data|tojson }}'></nono-table>
</body>
</html>